<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE root [<!ELEMENT website ANY>
<!ATTLIST website id ID #REQUIRED>
<!ELEMENT standardPage ANY>
<!ATTLIST standardPage id ID #REQUIRED>
]>
<root id="-1">
  <website id="1057" key="9560b906-331f-4f2d-8cf0-78014c7b5290" parentID="-1" level="1" creatorID="0" sortOrder="1" createDate="2019-01-21T14:11:38" updateDate="2023-04-18T15:51:20" nodeName="Website" urlName="website" path="-1,1057" isDoc="" nodeType="1051" creatorName="Bjørn Bak Rasmussen" writerName="Bjørn Bak Rasmussen" writerID="0" template="0" nodeTypeAlias="website" isPublished="true">
    <companyName><![CDATA[R. Teknik]]></companyName>
    <umbracoInternalRedirectId><![CDATA[umb://document/4961ed5299a245d6893243bbac9802c1]]></umbracoInternalRedirectId>
    <logo><![CDATA[umb://media/f88f79f185ba48cfbe5a8989beb6eb91]]></logo>
    <footer><![CDATA[R. Teknik ApS - <a href="mailto:kontakt@rteknik.dk">kontakt@rteknik.dk</a>
Energivej 134, 8420 Knebel
61 68 64 29]]></footer>
    <logoHeight><![CDATA[110]]></logoHeight>
    <standardPage id="1062" key="725c1e9e-1995-4cdc-ac09-4b3a1984134a" parentID="1057" level="2" creatorID="0" sortOrder="0" createDate="2019-01-21T14:28:05" updateDate="2023-04-18T14:12:07" nodeName="Home" urlName="home" path="-1,1057,1062" isDoc="" nodeType="1061" creatorName="Bjørn Bak Rasmussen" writerName="Bjørn Bak Rasmussen" writerID="0" template="1060" nodeTypeAlias="standardPage" isPublished="true">
      <grid><![CDATA[{
  "name": "1 column layout",
  "sections": [
    {
      "grid": 12,
      "rows": [
        {
          "label": "Headline",
          "name": "Headline",
          "areas": [
            {
              "grid": 12,
              "hasConfig": false,
              "controls": [
                {
                  "value": "Velkommen til R. Teknik ApS",
                  "editor": {
                    "alias": "headline"
                  },
                  "active": true
                },
                {
                  "value": "<p>R. Teknik er en mindre virksomhed som varetager mange forskellige opgaver som kan ses under menuen. </p>\n<p>God fornøjelse og glæder mig til at hører fra dig.</p>\n<p> </p>\n<p> </p>",
                  "editor": {
                    "alias": "rte"
                  },
                  "active": true
                }
              ]
            }
          ],
          "hasConfig": false,
          "id": "b68ba28d-dd35-8ff7-7fec-043a15754bd4"
        }
      ]
    }
  ]
}]]></grid>
      <title><![CDATA[- Hjem]]></title>
      <navigationName><![CDATA[Forside]]></navigationName>
      <excludeFromNavigation>1</excludeFromNavigation>
    </standardPage>
    <standardPage id="1084" key="4961ed52-99a2-45d6-8932-43bbac9802c1" parentID="1057" level="2" creatorID="0" sortOrder="0" createDate="2023-04-18T15:06:37" updateDate="2023-04-18T15:41:51" nodeName="Home (1)" urlName="home-1" path="-1,1057,1084" isDoc="" nodeType="1061" creatorName="Bjørn Bak Rasmussen" writerName="Bjørn Bak Rasmussen" writerID="0" template="1060" nodeTypeAlias="standardPage" isPublished="true">
      <grid><![CDATA[{
  "name": "1 column layout",
  "sections": [
    {
      "grid": 12,
      "rows": [
        {
          "label": "Headline",
          "name": "Headline",
          "areas": [
            {
              "grid": 12,
              "hasConfig": false,
              "controls": [
                {
                  "value": "Velkommen til R. Teknik ApS",
                  "editor": {
                    "alias": "headline"
                  },
                  "active": false
                },
                {
                  "value": "<p>R. Teknik er en mindre virksomhed som varetager mange forskellige opgaver som kan ses under menuen.</p>\n<p>God fornøjelse og glæder mig til at hører fra dig.</p>\n<p> </p>",
                  "editor": {
                    "alias": "rte"
                  },
                  "active": false
                }
              ]
            }
          ],
          "hasConfig": false,
          "id": "d976db22-1ea8-9c77-30d2-b2d1adb6dc5b"
        }
      ]
    }
  ]
}]]></grid>
      <excludeFromNavigation>1</excludeFromNavigation>
    </standardPage>
    <standardPage id="1079" key="5b2476a1-e591-4e18-a50e-2c642eeec87c" parentID="1057" level="2" creatorID="0" sortOrder="1" createDate="2019-01-28T17:58:56" updateDate="2023-04-18T14:29:52" nodeName="Profil" urlName="profil" path="-1,1057,1079" isDoc="" nodeType="1061" creatorName="Bjørn Bak Rasmussen" writerName="Bjørn Bak Rasmussen" writerID="0" template="1060" nodeTypeAlias="standardPage" isPublished="true">
      <grid><![CDATA[{
  "name": "1 column layout",
  "sections": [
    {
      "grid": 12,
      "rows": [
        {
          "label": "Headline",
          "name": "Headline",
          "areas": [
            {
              "grid": 12,
              "hasConfig": false,
              "controls": [
                {
                  "value": "Profil",
                  "editor": {
                    "alias": "headline"
                  },
                  "active": false
                },
                {
                  "value": "<p><strong>R. Teknik ejes og drives af Rasmus Rønde Rasmussen, som er udlært elektriker og tidligere udlært plastmager.</strong></p>\n<p><strong>Virksomheden blev etableret for at kunne tage mod opgaver fra nært og fjern, i form af rådgivning eller servicering. </strong></p>\n<p><strong>De typiske opgaver vil være:</strong></p>\n<p>El - Bolig, Landbrug og Erhverv</p>\n<p>Teknik - Maskineanlæg, montage og servicering</p>\n<p>Intelligente bygnings installationer - KNX, IHC og Smarthouse</p>\n<p><strong>Specielle opgaver:</strong></p>\n<p>Glasfiber - Både, røranlæg, tanke og siloer</p>\n<p>Energioptimering - Energiberegning, styring af varme samt ventilation</p>",
                  "editor": {
                    "alias": "rte"
                  },
                  "active": true
                }
              ]
            }
          ],
          "hasConfig": false,
          "id": "873f4396-d3a3-eb34-803b-a8c3ec29b667"
        }
      ]
    }
  ]
}]]></grid>
      <excludeFromNavigation>0</excludeFromNavigation>
    </standardPage>
    <standardPage id="1080" key="5056a3e4-ec77-4d6b-9258-766232a87f8f" parentID="1057" level="2" creatorID="0" sortOrder="2" createDate="2019-01-28T17:59:11" updateDate="2023-04-18T14:30:07" nodeName="El &amp; Teknik" urlName="el-teknik" path="-1,1057,1080" isDoc="" nodeType="1061" creatorName="Bjørn Bak Rasmussen" writerName="Bjørn Bak Rasmussen" writerID="0" template="1060" nodeTypeAlias="standardPage" isPublished="true">
      <grid><![CDATA[{
  "name": "1 column layout",
  "sections": [
    {
      "grid": 12,
      "rows": [
        {
          "label": "Headline",
          "name": "Headline",
          "areas": [
            {
              "grid": 12,
              "hasConfig": false,
              "controls": [
                {
                  "value": "El & Teknik",
                  "editor": {
                    "alias": "headline"
                  },
                  "active": false
                },
                {
                  "value": "<p><strong>Intelligente bygnings installationer</strong></p>\n<ul>\n<li>Smarthouse installation</li>\n<li>IHC installation</li>\n<li>KNX installation (Vi er registreret som partner)</li>\n</ul>\n<p><strong>Vi løser følgende El-Opgaver</strong></p>\n<ul>\n<li>Skift af afbrydere</li>\n<li>Skift af stikkontakter</li>\n<li>Skift af stikprop</li>\n<li>Skift af ventilator</li>\n<li>Skifte opvaskemaskine</li>\n<li>Trække kabler</li>\n<li>Tilslutte køleskab/komfur/ovn/emhætte </li>\n<li>Montere lamper</li>\n<li>Installere vaskemaskine/tørretumbler</li>\n</ul>\n<p>I tilfælde af autoriserede opgaver henvises til Lillegården El - Mols afdeling: <a href=\"https://lillegaarden.dk/\">https://lillegaarden.dk/ </a></p>\n<p><em>R. Teknik. ApS er ikke et autoriseret El firma</em></p>",
                  "editor": {
                    "alias": "rte"
                  },
                  "active": true
                }
              ]
            }
          ],
          "hasConfig": false,
          "id": "7e8e8dcc-da48-a945-56f6-810cfe82403b"
        }
      ]
    }
  ]
}]]></grid>
      <excludeFromNavigation>0</excludeFromNavigation>
    </standardPage>
    <standardPage id="1081" key="32837f07-8a47-4c85-8d87-a7c9f3a4e10d" parentID="1057" level="2" creatorID="0" sortOrder="3" createDate="2019-01-28T17:59:25" updateDate="2023-04-18T14:30:05" nodeName="Rådgivning" urlName="raadgivning" path="-1,1057,1081" isDoc="" nodeType="1061" creatorName="Bjørn Bak Rasmussen" writerName="Bjørn Bak Rasmussen" writerID="0" template="1060" nodeTypeAlias="standardPage" isPublished="true">
      <grid><![CDATA[{
  "name": "1 column layout",
  "sections": [
    {
      "grid": 12,
      "rows": [
        {
          "label": "Headline",
          "name": "Headline",
          "areas": [
            {
              "grid": 12,
              "hasConfig": false,
              "controls": [
                {
                  "value": "Rådgivning",
                  "editor": {
                    "alias": "headline"
                  },
                  "active": false
                },
                {
                  "value": "<p>Hos R. Teknik rådgiver og hjælper vi dig med at træffe de valg der kan være med hensyn til valg af installation.</p>\n<ul>\n<li>Der kan være den typiske installation som vi kender den idag, med afbrydere og stikkontakter placeret efter behov. </li>\n<li>Der er også mulighed for at kunne styre installationen fra telefonen, hvor forskellige lys-scenarier og smarte funktioner kan være med til at højne komforten. </li>\n<li>Vi kan lave eksempler på tegninger i samråd med dig.</li>\n</ul>\n<p>Udover el kan vi også hjælpe dig med at tage nogle valg med hensyn til varmestyring, energioptimering og ventilation</p>\n<ul>\n<li>Valg af ventilationsanlæg. (Nilan, Genvex og Danfoss)</li>\n<li>Energioptimering med henblik på smart lys-installation, solceller og varmestyring.</li>\n<li>Varmestyrings-system som vil være automatisk og kan styres fra telefon. (Salus og Danfoss)</li>\n</ul>\n<p>Vi er altid åbne for at kunne hjælpe, så alle spørgsmål er velkommen.</p>",
                  "editor": {
                    "alias": "rte"
                  },
                  "active": true
                }
              ]
            }
          ],
          "hasConfig": false,
          "id": "306296a2-dc11-b3cf-43a6-f620bb90e764"
        }
      ]
    }
  ]
}]]></grid>
      <excludeFromNavigation>0</excludeFromNavigation>
    </standardPage>
    <standardPage id="1082" key="7d232f09-1adf-404d-aeb3-203291217b75" parentID="1057" level="2" creatorID="0" sortOrder="4" createDate="2019-01-28T17:59:42" updateDate="2023-04-18T14:30:03" nodeName="Specielle Opgaver" urlName="specielle-opgaver" path="-1,1057,1082" isDoc="" nodeType="1061" creatorName="Bjørn Bak Rasmussen" writerName="Bjørn Bak Rasmussen" writerID="0" template="1060" nodeTypeAlias="standardPage" isPublished="true">
      <grid><![CDATA[{
  "name": "1 column layout",
  "sections": [
    {
      "grid": 12,
      "rows": [
        {
          "label": "Headline",
          "name": "Headline",
          "areas": [
            {
              "grid": 12,
              "hasConfig": false,
              "controls": [
                {
                  "value": "Specielle opgaver",
                  "editor": {
                    "alias": "headline"
                  },
                  "active": false
                },
                {
                  "value": "<p>Hos R. Teknik vil vi gerne løse så mange forskellige opgaver som mulig. </p>\n<p>Derfor har vi nogle punkter udover el og teknik som vi har erfaring med:</p>\n<p>Glasfiber</p>\n<ul>\n<li>Både</li>\n<li>Røranlæg</li>\n<li>Tanke</li>\n<li>Siloer</li>\n</ul>\n<p>Minigraver/Minilæsser</p>\n<ul>\n<li>Forskellige opgaver hvor der er behov for minigraver eller en minilæsser</li>\n</ul>\n<p>Energioptimering</p>\n<ul>\n<li>Styring af lys</li>\n<li>Styring af varme</li>\n<li>Styring af ventilation</li>\n</ul>\n<p> </p>",
                  "editor": {
                    "alias": "rte"
                  },
                  "active": true
                }
              ]
            }
          ],
          "hasConfig": false,
          "id": "087fa818-0558-d941-d6ba-ce7447c9f072"
        }
      ]
    }
  ]
}]]></grid>
      <excludeFromNavigation>0</excludeFromNavigation>
    </standardPage>
    <standardPage id="1083" key="6ce1587d-8eeb-4121-b6a7-54a3079cc8cf" parentID="1057" level="2" creatorID="0" sortOrder="5" createDate="2019-01-28T18:00:29" updateDate="2023-04-18T14:30:01" nodeName="Udlejning" urlName="udlejning" path="-1,1057,1083" isDoc="" nodeType="1061" creatorName="Bjørn Bak Rasmussen" writerName="Bjørn Bak Rasmussen" writerID="0" template="1060" nodeTypeAlias="standardPage" isPublished="true">
      <grid><![CDATA[{
  "name": "1 column layout",
  "sections": [
    {
      "grid": 12,
      "rows": [
        {
          "label": "Headline",
          "name": "Headline",
          "areas": [
            {
              "grid": 12,
              "hasConfig": false,
              "controls": [
                {
                  "value": "Udlejning",
                  "editor": {
                    "alias": "headline"
                  },
                  "active": false
                },
                {
                  "value": "<p>Hos R. Teknik har man mulighed for leje af montør.</p>\n<p>Der er samtidlig også mulighed for at leje montør med minigraver eller minilæsser.</p>\n<p> </p>",
                  "editor": {
                    "alias": "rte"
                  },
                  "active": false
                }
              ]
            }
          ],
          "hasConfig": false,
          "id": "7676b180-8f58-9edd-b0a4-c9ce929ea101"
        }
      ]
    }
  ]
}]]></grid>
      <excludeFromNavigation>0</excludeFromNavigation>
    </standardPage>
    <standardPage id="1066" key="117c6425-60a0-4f9a-9756-ddbc3a535578" parentID="1057" level="2" creatorID="0" sortOrder="6" createDate="2019-01-21T16:10:03" updateDate="2023-04-18T16:10:50" nodeName="Kontakt" urlName="kontakt" path="-1,1057,1066" isDoc="" nodeType="1061" creatorName="Bjørn Bak Rasmussen" writerName="Bjørn Bak Rasmussen" writerID="0" template="1060" nodeTypeAlias="standardPage" isPublished="true">
      <grid><![CDATA[{
  "name": "1 column layout",
  "sections": [
    {
      "grid": 12,
      "rows": [
        {
          "label": "Headline",
          "name": "Headline",
          "areas": [
            {
              "grid": 12,
              "hasConfig": false,
              "controls": [
                {
                  "value": "Kontakt R. Teknik",
                  "editor": {
                    "alias": "headline"
                  },
                  "active": false
                },
                {
                  "value": "<p>R. Teknik ApS -<span> </span><a href=\"mailto:kontakt@rteknik.dk\">kontakt@rteknik.dk</a></p>\n<p>Energivej 134, 8420 Knebel</p>\n<p><span>TLF.: 61 68 64 29 CVR.: 40155023</span></p>\n<p><iframe src=\"https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2218.6922744748595!2d10.4837648!3d56.214276000000005!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x464c30b63c3bb395%3A0x465d5e77896ac608!2sEnergivej%20134%2C%208420%20Knebel!5e0!3m2!1sda!2sdk!4v1681813636425!5m2!1sda!2sdk\" width=\"600\" height=\"450\" style=\"max-width: 100%;\" frameborder=\"0\" allowfullscreen=\"\"></iframe></p>",
                  "editor": {
                    "alias": "rte"
                  },
                  "active": true
                }
              ],
              "hasActiveChild": true,
              "active": true
            }
          ],
          "hasConfig": false,
          "id": "60e25eb7-1d65-8085-8f86-60d439087c8a",
          "hasActiveChild": true,
          "active": true
        }
      ]
    }
  ]
}]]></grid>
      <navigationName><![CDATA[Kontakt]]></navigationName>
      <excludeFromNavigation>0</excludeFromNavigation>
    </standardPage>
  </website>
</root>