@using ContentModels = Umbraco.Web.PublishedContentModels;
@inherits Umbraco.Web.Mvc.UmbracoTemplatePage<ContentModels.Website>
<div class="bg-light">
    <div class="container">
        <div class="row">
            <footer class="col-lg-12 mt-3 mb-3">
                @foreach (var str in Model.Content.Footer)
                {
                    <div>
                        @Html.Raw(str)
                    </div>
                }
            </footer>
        </div>
    </div>
</div>